<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">API 441</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/v3/usuarios">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/v3/clientes">Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/v3/productos">Productos</a>
    </li>
  </ul>
</nav>